<!-- Main header section with app title -->
<ion-header>
  <ion-toolbar>
    <ion-title>Camera Demo</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Main content area -->
<ion-content class="ion-padding">
  <!-- Button to trigger camera - calls takePicture() method when clicked -->
  <ion-button class="ion-margin" (click)="takePicture()">Take Picture</ion-button>
  <ion-button class="ion-margin" (click)="getLocation()">Get Location</ion-button>
  
  <!-- Conditional rendering of captured image -->
  <!-- Only shows when capturedImage property has a value -->
  <!-- Uses Angular's new control flow syntax with @if -->
  @if (capturedImage) {
  <!-- Display captured image using data URL from camera service -->
  <img [src]="capturedImage">
  }

  @if (currentLocation) {
  <p>
    Latitude: {{currentLocation.latitude}}<br>
    Longitude: {{currentLocation.longitude}}
  </p>
  }
</ion-content>